<div class="block-accordion__item js-block-accordion__item Accordion" id="accordionExample">
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect1"
    aria-level="4"
    aria-label="Aksel Møllers Have"
    id="accordion1id"
    data-target="#block-accordion__item1"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Aksel Møllers Have
  </a>
  <div
    id="sect1"
    aria-labelledby="accordion1id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>Legepladsen ligger afskærmet i det grønne parkareal Aksel Møllers Have og er renoveret i 2011. &nbsp;</p>

    <p>
      Legepladsen er udfordrende for både små og større børn. Der er to store klatrenet, et ”skaterredskab”, et legeskib med
      mulighed for sand-, klatre- og hulelege, en rutsjebane og en trampolin.
    </p>

    <p>
      Både legepladsen og det øvrige parkareal fremstår grønt med større træer og hækplantninger og er velegnet som picnicområde.
    </p>

    <p>
      <strong>Aldersgruppe</strong>&nbsp; &nbsp;<br />
      Små/store
    </p>

    <p>
      <strong>Faciliteter</strong>&nbsp; &nbsp;<br />
      Areal i kvadratmeter: 1000<br />
      Aflukket: Ja<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Ja<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Bemandet: Nej&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed</strong> &nbsp;&nbsp;<br />
      Kategori 2: Kørestolsbrugere kan komme i kontakt med dele af legeområdet/legeredskaberne.
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect2"
    aria-level="4"
    aria-label="Borgmester Godskesens Plads"
    id="accordion2id"
    data-target="#block-accordion__item2"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Borgmester Godskesens Plads
  </a>
  <div
    id="sect2"
    aria-labelledby="accordion2id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>Denne legeplads er en del af det åbne parkareal Borgmester Godskesens Plads og er renoveret i 2010.&nbsp;</p>

    <p>
      På et samlet legeareal findes et stort klatrenet, et kugleredskab til ”jorden er giftig-” og balanceleg, store og små
      gynger, et drejekar, en sandkasse, et sandlegeredskab, to legehuse, en legelabyrint, tre små trampoliner og en stor
      skivekarrusel.
    </p>

    <p>
      Både legepladsen og det øvrige parkareal fremstår grønt med større træer og hækplantninger og er velegnet som picnicområde.
    </p>

    <p>
      <strong>Aldersgruppe</strong> &nbsp;&nbsp;<br />
      Små/store&nbsp;
    </p>

    <p>
      <strong>Faciliteter</strong> &nbsp;&nbsp;<br />
      Areal i kvadratmeter: 700<br />
      Aflukket: Nej<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Nej<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Bemandet: Nej&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed</strong> &nbsp;&nbsp;<br />
      Kategori 2: Kørestolsbrugere kan komme i kontakt med dele af legeområdet/legeredskaberne.&nbsp;
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect3"
    aria-level="4"
    aria-label="Danas Plads"
    id="accordion3id"
    data-target="#block-accordion__item3"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Danas Plads
  </a>
  <div
    id="sect3"
    aria-labelledby="accordion3id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>Legepladsen er integreret med en bunker og ligger rart i et grønt areal i byrummet Danas Plads.</p>

    <p>
      Den er senest renoveret i sommeren 2017 og er opdelt i 4 arealer; et område med sand og balanceleg, en ”urskovssti” op over
      bunkeren, et område med trampoliner, klatrestativ og et gyngestativ, samt et område med to motionsredskaber til voksne.
    </p>

    <p>På legepladsen er der en del beplantning og bænke, hvor forældrene kan sidde og holde øje, mens børnene leger.</p>

    <p>
      <strong>Adresse</strong><br />
      Danas Plads 10-20
    </p>

    <p>
      <strong>Aldersgruppe </strong>&nbsp;&nbsp;<br />
      Små/store/voksne
    </p>

    <p>
      <strong>Faciliteter</strong> &nbsp;&nbsp;<br />
      Areal i kvadratmeter: 750<br />
      Aflukket: Ja<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Nej<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Bemandet: Nej&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed</strong> &nbsp;&nbsp;<br />
      Kategori 2: Kørestolsbrugere kan komme i kontakt med dele af legeområdet/legeredskaberne.
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect4"
    aria-level="4"
    aria-label="Egernvej&nbsp;"
    id="accordion4id"
    data-target="#block-accordion__item4"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Egernvej&nbsp;
  </a>
  <div
    id="sect4"
    aria-labelledby="accordion4id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>Legepladsen er en naturlegeplads der ligger som en del af parkarealet på Egernvej.</p>

    <p>
      Den etableret i 2008 og har en gynge, en sandkasse, en rutsjebane og redskaber til ”jorden er giftig-” og balanceleg.
      Derudover er der en mindre boldbane hvor både store og små kan være aktive.
    </p>

    <p>
      Både legepladsen og det øvrige parkareal fremstår grønt med større træer og hækplantninger og er velegnet som
      picnicområde.&nbsp;
    </p>

    <p>
      <strong>Adresse</strong><br />
      Egernvej 60
    </p>

    <p>
      <strong>Aldersgruppe</strong> &nbsp;&nbsp;<br />
      Små&nbsp;
    </p>

    <p>
      <strong>Faciliteter</strong> &nbsp;&nbsp;<br />
      Areal i kvadratmeter: 600<br />
      Aflukket: Nej<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Nej<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Bemandet: Nej&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed</strong> &nbsp;&nbsp;<br />
      Kategori 2: Kørestolsbrugere kan komme i kontakt med dele af legeområdet/legeredskaberne.&nbsp;
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect5"
    aria-level="4"
    aria-label="Femte Juni Plads&nbsp;"
    id="accordion5id"
    data-target="#block-accordion__item5"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Femte Juni Plads&nbsp;
  </a>
  <div
    id="sect5"
    aria-labelledby="accordion5id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>
      Legepladsen ligger nord for Femte Juni Plads op mod S-togsbanen. Legepladsen er totalrenoveret i efteråret 2018, og har fået
      nyt tema ”Toglegepladsen”.
    </p>

    <p>
      Legepladsen er lettere opdelt således at den vestlige del henvender til de mindste børn, mens den østlige del henvender sig
      til de store børn. Togtemaet går igen for både små og store børn.
    </p>

    <p>
      For de mindre børn er der nu mulighed for at lege rollelege omkring stationen og perronen. Her kan der klatres på skinnerne
      eller man kan sætte sig til rette i toget – eller måske prøve at styre toget. Der er også mulighed for at balancere rundt på
      de mange opstablede kufferter eller på balancebanen med trædestubbe. Langs S-togsbanen er der opstillet en flot opholdsvæg
      med vinduer der giver kig til det ”rigtige S-tog”. Derudover er der en sandkasse med en gravko, spejlvæg og sand-si. Den
      sjove cykelkarrusel er naturligvis bevaret.
    </p>

    <p>
      For de store børn er der et højt multiredskab der giver flere muligheder for at klatre, balancere, holde øje med S-toget og
      tage sig en rutsjetur. Eller man kan slå sig ned på gummibakken med S-togsnettet og blot se på legen. Endelig er
      gyngestativet bevaret.
    </p>

    <p>
      Æbletræerne bidrager til naturlig skygge på legepladsen, og det er tilladt at smage på æblerne i sæsonen. Det samme gælder
      de skovjordbær, der er plantet i to af træbedene.
    </p>

    <p>
      Legepladsen er velegnet til picnic og der er drikkevand i fontænen lige udenfor legepladsen i sommerhalvåret.<br />
      &nbsp;
    </p>

    <p>
      <strong>Adresse</strong><br />
      Grøndalsengen, Nord for Grøndalsvej 26
    </p>

    <p>
      <strong>Aldersgruppe</strong><br />
      Små/store&nbsp;
    </p>

    <p>
      <strong>Faciliteter </strong>&nbsp;&nbsp;<br />
      Areal i kvadratmeter: 725<br />
      Aflukket: Ja<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Ja<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Drikkefontæne: Ja<br />
      Bemandet: Nej
    </p>

    <p>
      <strong>Tilgængelighed </strong>&nbsp;&nbsp;<br />
      Kategori 2: &nbsp;Kørestolsbrugere kan komme i kontakt med dele af legeområdet/legeredskaberne.&nbsp;
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect6"
    aria-level="4"
    aria-label="Frederiksberg Have"
    id="accordion6id"
    data-target="#block-accordion__item6"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Frederiksberg Have
  </a>
  <div
    id="sect6"
    aria-labelledby="accordion6id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>Legepladsen i Frederiksberg Have er anlagt af og administreres af Slots- og Kulturstyrelsen.</p>

    <p>
      Her er hængekøjegynger, sandområde, vandleg, balancelandskab og fabelfigurer af træ man kan klatre på.<br />
      Pavillonen og bænkene kan bruges til ophold og picnic.&nbsp;
    </p>

    <p>
      <strong>Åbningstider</strong> &nbsp;&nbsp;<br />
      Haven har åbent hele året fra klokken&nbsp;6 og lukker mellem 17 og 23 afhængigt af årstiden. Ændres med skift til
      sommertid/vintertid.&nbsp;Du kan læse mere om havens åbningstider på Slots- og Kulturstyrelsens&nbsp;hjemmeside, som du
      finder et link til længere nede på siden.&nbsp;
    </p>

    <p>
      <strong>Aldersgruppe </strong>&nbsp;&nbsp;<br />
      Små/store
    </p>

    <p>
      <strong>Faciliteter </strong>&nbsp;&nbsp;<br />
      Areal i kvadratmeter: cirka&nbsp;2.000<br />
      Aflukket: Nej<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Nej<br />
      Skygge: Ja<br />
      Toilet: Ja<br />
      Bemandet: Nej&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed</strong> &nbsp;&nbsp;<br />
      Kategori 2: Kørestolsbrugere kan komme i kontakt med dele af legeområdet/legeredskaberne.&nbsp;
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect7"
    aria-level="4"
    aria-label="Grøndalen"
    id="accordion7id"
    data-target="#block-accordion__item7"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Grøndalen
  </a>
  <div
    id="sect7"
    aria-labelledby="accordion7id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>
      Grøndalen er en naturlegeplads,&nbsp;der ligger som en del af parkarealet i Grøndalen. Hele parkarealet, herunder lege- og
      motionsarealer, blev etableret i 2004.
    </p>

    <p>
      På selve legepladsen er der en dækgynge, en fugleredegynge, en klatrevæg, et legehus, en sandkasse, en ”jorden er giftig”
      legesti og balanceredskaber. Der er også et større parkourredskab. I 2015 er der desuden kommet et større klatreredskab til
      de større børn.
    </p>

    <p>
      På legepladsen er der en cirkel af sten, der er velegnet som picnicområde for legepladsen, og der er også et bord/bænkesæt.
    </p>

    <p>Ved siden af legepladsen er der nu også en fin skaterskål.</p>

    <p>
      <strong>Adresse</strong><br />
      C.F. Richs Vej 101
    </p>

    <p>
      <strong>Aldersgruppe</strong> &nbsp;&nbsp;<br />
      Små/store&nbsp;
    </p>

    <p>
      <strong>Faciliteter &nbsp;</strong><br />
      Areal i kvadratmeter: 1120<br />
      Aflukket Nej&nbsp;<br />
      Bænke: Ja&nbsp;<br />
      Bord/bænkesæt: Ja<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Bemandet: Nej&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed </strong>&nbsp;&nbsp;<br />
      Kategori 2: Kørestolsbrugere kan komme i kontakt med dele af legeområdet/legeredskaberne.
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect8"
    aria-level="4"
    aria-label="Hattensens Allé&nbsp;"
    id="accordion8id"
    data-target="#block-accordion__item8"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Hattensens Allé&nbsp;
  </a>
  <div
    id="sect8"
    aria-labelledby="accordion8id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>Legepladsen er en del af det lille grønne areal Hattesens Allé&nbsp;og ligger i et byrum mellem 2 lave etageejendomme.</p>

    <p>
      Legepladsen er totalrenoveret i 2015 under temaet ”byen&nbsp;i byen" og henvender sig især til de mindste børn. På
      legepladsen er der en købmand, en brandstation med brandmandstrappe og to rutsjebaner, en togstation, en karrusel, en gynge,
      en sandkasse og nogle legetavler. Togskinnerne hjælper fantasien i gang og det samme gør pletterne til ”jorden er giftig
      leg”.
    </p>

    <p>
      Legepladsen har enkelte træer, hvoraf de 2 er nyplantede i forbindelse med renoveringen, og det øvrige parkareal fremstår
      grønt med mulighed for ophold på bænke.
    </p>

    <p>
      <strong>Adresse</strong><br />
      Hattensens Allé 22
    </p>

    <p>
      <strong>Aldersgruppe</strong> &nbsp;&nbsp;<br />
      Små&nbsp;
    </p>

    <p>
      <strong>Faciliteter</strong> &nbsp;&nbsp;<br />
      Areal i kvadratmeter: 200<br />
      Aflukket Ja<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Nej<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Bemandet Nej:&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed</strong> &nbsp;&nbsp;<br />
      Kategori 1: Kørestolsbrugere kan komme i kontakt med størstedelen af legeområdet/legeredskaberne.&nbsp;
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect9"
    aria-level="4"
    aria-label="Hostrups Have"
    id="accordion9id"
    data-target="#block-accordion__item9"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Hostrups Have
  </a>
  <div
    id="sect9"
    aria-labelledby="accordion9id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>Denne legeplads indgår som en grøn del af haverummet Hostrups Have.&nbsp;</p>

    <p>
      Legepladsen har fået en gennemgribende renovering i 2016, hvor store dele af den gamle legeplads er blevet fornyet med nye
      legeelementer. Den store sandkasse har fået nye kanter af in-situ støbt beton, som er velegnede til at sidde på. Inde i
      sandkassen er der udover det gamle sandlegeredskab og de 3 legehuse, nu nye elementer der inspirerer børnene til rolleleg.
      Der er en ny bil og et minislot med en rutsjebane, samt en solsikkegynge. Redskaber der i høj grad appellerer til de mindste
      børn. Til de større børn er der fortsat en trampolin og et nyt gyngestativ.
    </p>

    <p>
      Derudover er der længst mod nord i anlægget – og i direkte forbindelse med den eksisterende legeplads, et nyt legeområde der
      henvender sig til større børn fra omkring 6-10 år. Det er et større klatretårn i to niveauer, der er bundet sammen med et
      rutsjetårn i et dobbelt balanceforløb. Der er også forskellige balanceredskaber i beplantningen, samt en miniscene til
      ophold og leg.
    </p>

    <p>
      I hjørnet af legepladsen er der en motionsø der henvender sig til de unge og voksne der evt. ledsager deres børn. Den består
      af et crosssystem, der giver mulighed for stor træningsvariation. Her kan man scanne en kode og få adgang til
      videoinstruktioner om træningsøvelser.
    </p>

    <p>Endelig er der en multibane med gummibelægning til håndbold, fodbold og basket.&nbsp;</p>

    <p>Legepladsen og haven er velegnet som picnicområde. Der er en drikkevandspost på legepladsen.</p>

    <p>
      <strong>Adresse</strong><br />
      Hostrups Have 50-54
    </p>

    <p>
      <strong>Aldersgruppe</strong> &nbsp;&nbsp;<br />
      Små/store/unge/voksne&nbsp;
    </p>

    <p>
      <strong>Faciliteter</strong><br />
      Areal i kvadratmeter: 1.000<br />
      Aflukket: Ja<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Ja<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Bemandet: Nej&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed</strong> &nbsp;&nbsp;<br />
      Kategori 1: Kørestolsbrugere kan komme i kontakt med størstedelen af legeområdet/legeredskaberne.&nbsp;
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect10"
    aria-level="4"
    aria-label="Julius Thomsens Plads"
    id="accordion10id"
    data-target="#block-accordion__item10"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Julius Thomsens Plads
  </a>
  <div
    id="sect10"
    aria-labelledby="accordion10id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>Denne legeplads ligger som en del af parkarealet på Julius Thomsens Plads lige over for Forum.</p>

    <p>
      Legepladsen er totalrenoveret i 2017 og fremstår med en samlet gummibelægning med små bakker til "jorden er giftig" leg og
      som indramning af sandarealet. Der findes også et legehus, flere balanceredskaber, en fugleredegynge, karruseller og et
      klatreredskab med rutsjebane.
    </p>

    <p>
      <strong>Aldersgruppe</strong> &nbsp;&nbsp;<br />
      Små/store&nbsp;
    </p>

    <p>
      <strong>Faciliteter</strong> &nbsp;&nbsp;<br />
      Areal i kvadratmeter: 350<br />
      Aflukket: Ja<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Nej<br />
      Skygge: Nej<br />
      Toilet: Nej<br />
      Bemandet: Nej&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed</strong> &nbsp;&nbsp;<br />
      Kategori 1: Kørestolsbrugere kan komme i kontakt med størstedelen af legeområdet/legeredskaberne.&nbsp;
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect11"
    aria-level="4"
    aria-label="Kejserinde Dagmars Plads"
    id="accordion11id"
    data-target="#block-accordion__item11"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Kejserinde Dagmars Plads
  </a>
  <div
    id="sect11"
    aria-labelledby="accordion11id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>
      Legepladsen skal totalrenoveres og udvides i 2019. Renoveringen går i gang den 3. juni og forventes at vare indtil udgangen
      af juli måned. I mellemtiden kan vi henvise til den nye legeplads på Langelands Plads.
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect12"
    aria-level="4"
    aria-label="Langelands Plads"
    id="accordion12id"
    data-target="#block-accordion__item12"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Langelands Plads
  </a>
  <div
    id="sect12"
    aria-labelledby="accordion12id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>Legepladsen ligger som en del af Langelands Plads oven på parkeringskælderen.</p>

    <p>
      Legepladsen er anlagt sammen med pladsen i 2019 og fremstår med gummibelægninger omkring legeredskaberne. Legepladsen har
      Frederiksbergs højeste legetårn, med en snoet rørrutsjebane, karrusel, klatrestativ og gynger til de større børn. Til de
      mindste er der en sandkasse med en lille rutsjebane og en sommerfuglevippe.
    </p>

    <p>Derudover er der en multiboldbane, til basket, fodbold, mm. Der kommer også en motionsstation overfor boldbanen.</p>

    <p>Soppebassinet er åbent i skolernes sommerferie.</p>

    <p>
      <strong>Aldersgruppe</strong>&nbsp;&nbsp;<br />
      Små/store
    </p>

    <p>
      <strong>Faciliteter&nbsp;&nbsp;</strong><br />
      Areal i kvadratmeter: 350<br />
      Aflukket: Nej<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Ja<br />
      Skygge: Nej<br />
      Toilet: Ja<br />
      Bemandet: Nej<br />
      Drikkefontæne: Ja
    </p>

    <p>
      <strong>Tilgængelighed&nbsp;&nbsp;</strong><br />
      Kategori 1: Kørestolsbrugere kan komme i kontakt med størstedelen af legeområdet/legeredskaberne.
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect13"
    aria-level="4"
    aria-label="Lindevangsparken"
    id="accordion13id"
    data-target="#block-accordion__item13"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Lindevangsparken
  </a>
  <div
    id="sect13"
    aria-labelledby="accordion13id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>Denne legeplads er en del af parkarealet Lindevangsparken og størstedelen blev renoveret i 2009.&nbsp;</p>

    <p>
      I 2013 er der kommet en ny elektronisk vandlegeplads til, og den er den første af sin slags i Danmark. Børnene kan aktivere
      de elektroniske satellitter og sende vand rundt i systemet, hvor der er vandmøller, sæler og sjove trampoliner. Om sommeren
      er der enkle spil i satellitterne til aktivering af vandet, og om vinteren, når vandet er lukket af, er der mere udfordrede
      spil. Den ligger på den eksisterende legeplads i Lindevangsparken mellem soppebassinet og den bemandede legeplads.
      Vandlegepladsen er åben fra april til og med til oktober.
    </p>

    <p>
      Resten af legepladsen er opdelt i 3 områder, et boldareal, et åbent areal omkring et soppebassin og et areal med forskellige
      legefunktioner placeret i ”lommer” i en labyrint af lave hække og træer. I lommerne er der mange legemuligheder for både små
      og store børn. Blandt andet et elektronisk klatreredskab, 2 klatrekuber, et skaterredskab, forskellige karruseller, flere
      spil, et sandlegeredskab, en rutsjebane, et spinnehjul, en koldbøttestang og en gynge.&nbsp;
    </p>

    <p>Soppebassinet i Lindevangsparken er åbent i skolernes sommerferie.</p>

    <p>
      Lindevangsparken gennemgår i de kommende år en udvikling, der skal øge trygheden for brugerne og udvide de rekreative
      muligheder, samt forbedre bylivet generelt i og omkring parken. Parken er en af kommunens største og ældste parker.
      Lindevangsparken, som ligger i det bevaringsværdige Lindevangskvarter, er områdets grønne åndehul.
    </p>

    <p>
      <strong>Aldersgruppe</strong> &nbsp;&nbsp;<br />
      Små/store&nbsp;
    </p>

    <p>
      <strong>Faciliteter </strong>&nbsp;&nbsp;<br />
      Areal i kvadratmeter: 3200<br />
      Aflukket: Ja<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Nej<br />
      Skygge: Ja<br />
      Toilet: Ja<br />
      Bemandet: Ja&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed</strong>&nbsp;<br />
      Kategori 2: Kørestolsbrugere kan komme i kontakt med dele af legeområdet/legeredskaberne.&nbsp;
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect14"
    aria-level="4"
    aria-label="Nyelandsvej"
    id="accordion14id"
    data-target="#block-accordion__item14"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Nyelandsvej
  </a>
  <div
    id="sect14"
    aria-labelledby="accordion14id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>Legepladsen er er omkranset af grønne hække og er en del af det grønne bunkersareal i gaderummet på Nyelandsvej.</p>

    <p>
      Legepladsen er renoveret i 2017 og er domineret af et cirka 15 meter langt grønt gummifirben, der dels ligger i et græsareal
      og dels i et sandareal. Firbenet fungerer som et ”bakkelandskab” for de små. Derudover findes der på legepladsen en
      solsikkegynge, en legelabyrint, et vippedyr og et spil.<br />
      &nbsp;
    </p>

    <p>
      <strong>Adresse</strong><br />
      Nyelandsvej 33
    </p>

    <p>
      <strong>Aldersgruppe &nbsp;&nbsp;</strong><br />
      Små&nbsp;
    </p>

    <p>
      <strong>Faciliteter</strong> &nbsp;&nbsp;<br />
      Areal i kvadratmeter: 130<br />
      Aflukket: Ja<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Nej<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Bemandet: Nej
    </p>

    <p>
      <strong>Tilgængelighed</strong> &nbsp;&nbsp;<br />
      Kategori 2: Kørestolsbrugere kan komme i kontakt med dele af legeområdet/legeredskaberne.&nbsp;
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect15"
    aria-level="4"
    aria-label="Nyvej"
    id="accordion15id"
    data-target="#block-accordion__item15"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Nyvej
  </a>
  <div
    id="sect15"
    aria-labelledby="accordion15id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>
      Denne legeplads, der er omkranset af grønne hække og store træer, er en del af et åbent grønt byrum på Nyvej. Terrænet er
      delvist bakket, hvor legepladsen er bygget op over de tidligere bunkere.
    </p>

    <p>
      Legepladsen der senest er renoveret i 2015 består af små grønne ”gummiøer” i et sandareal hægtet sammen af to broer.
      Derudover er der en rutsjebane, en gynge, et legehus, og gummikugler der kan bruges som træde- eller balancesten. Der er
      flere bænke hvor forældre kan opholde sig mens børnene leger.
    </p>

    <p>
      <strong>Adresse</strong><br />
      Nyvej 10
    </p>

    <p>
      <strong>Aldersgruppe</strong> &nbsp;&nbsp;<br />
      Små/store&nbsp;
    </p>

    <p>
      <strong>Faciliteter</strong> &nbsp;&nbsp;<br />
      Areal i kvadratmeter: 225<br />
      Aflukket: Ja<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Nej<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Bemandet: Nej&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed </strong>&nbsp;&nbsp;<br />
      Kategori 1: Kørestolsbrugere kan komme i kontakt med størstedelen af legeområdet/legeredskaberne.&nbsp;
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect16"
    aria-level="4"
    aria-label="Rosenhaven"
    id="accordion16id"
    data-target="#block-accordion__item16"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Rosenhaven
  </a>
  <div
    id="sect16"
    aria-labelledby="accordion16id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>Legepladsen er en del af et åbent grønt haverum og er renoveret i 2005.&nbsp;</p>

    <p>
      Legepladsen består af et legeskib og et surfer-bræt på et bølget blåt ”gummihav”, en sandkasse med et sandbord, og nogle
      spil.&nbsp;Der er også et enkelt motionsredskab.
    </p>

    <p>
      Arealet er omkranset af grønne hække og det øvrige parkareal fremstår grønt og er velegnet som picnicområde for
      legepladsen.&nbsp;
    </p>

    <p>
      <strong>Adresse</strong><br />
      Allégade 20A-20B
    </p>

    <p>
      <strong>Aldersgruppe </strong>&nbsp;&nbsp;<br />
      Små&nbsp;
    </p>

    <p>
      <strong>Faciliteter</strong> &nbsp;&nbsp;<br />
      Areal i kvadratmeter: 190<br />
      Aflukket: Nej<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Nej<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Bemandet: Nej&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed</strong> &nbsp;&nbsp;<br />
      Kategori 1: Kørestolsbrugere kan komme i kontakt med størstedelen af legeområdet/legeredskaberne.
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect17"
    aria-level="4"
    aria-label="Søfrontsparken&nbsp;"
    id="accordion17id"
    data-target="#block-accordion__item17"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Søfrontsparken&nbsp;
  </a>
  <div
    id="sect17"
    aria-labelledby="accordion17id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>
      Legepladsen ligger som en del af et åbent græsklædt område i parkanlægget Søfrontsparken der grænser op mod Sankt Jørgens
      Sø. Legepladsen er senest renoveret i 2015.&nbsp;
    </p>

    <p>På legepladsen er der en klatrevæg, en rutsjebane og en dobbeltgynge.</p>

    <p>Arealet fremstår grønt med store træer og er velegnet som picnicområde.</p>

    <p>
      <strong>Adresse</strong><br />
      Vodroffsvej 10-12
    </p>

    <p>
      <strong>Aldersgruppe </strong>&nbsp;<br />
      Små/Store&nbsp;
    </p>

    <p>
      <strong>Faciliteter</strong> &nbsp;&nbsp;<br />
      Areal i kvadratmeter: 210<br />
      Aflukket: Nej<br />
      Bænke: Nej<br />
      Bord/bænkesæt: Nej<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Bemandet: Nej&nbsp;
    </p>

    <p>
      <strong>Tilgængelighed</strong> &nbsp;&nbsp;<br />
      Kategori 3: Kørestolsbrugere kan ikke komme i kontakt med legeområdet/legeredskaberne.
    </p>
  </div>
  <a
    role="button heading"
    aria-expanded="false"
    aria-controls="sect18"
    aria-level="4"
    aria-label="Steenwinkelsvej&nbsp;"
    id="accordion18id"
    data-target="#block-accordion__item18"
    href="#"
    class="block-accordion__header js-block-accordion__header Accordion-trigger header-active"
  >
    Steenwinkelsvej&nbsp;
  </a>
  <div
    id="sect18"
    aria-labelledby="accordion18id"
    data-parent="#accordionExample"
    class="block-accordion__content js-block-accordion__content Accordion-panel active"
  >
    <p>
      Legepladsen ligger på et bunkersanlæg i gaderummet og er omgivet af græsklædte bakker og spredte træer. Hele legepladsen er
      omkranset af et lavt hegn.
    </p>

    <p>
      Legepladsen er renoveret i 2015, og der er et klatrenet for de lidt større børn, samt trampolin, vippe og et klatreredskab
      med rutsjebane for de lidt mindre børn.
    </p>

    <p>
      Arealet fremstår grønt med store træer og er velegnet som picnicområde. Der er flere bænke og et bord/bænkesæt på
      legepladsen.
    </p>

    <p>
      <strong>Adresse</strong><br />
      Steen Winkelsvej 20
    </p>

    <p>
      <strong>Aldersgruppe</strong> &nbsp;&nbsp;<br />
      Små&nbsp;
    </p>

    <p>
      <strong>Faciliteter </strong>&nbsp;&nbsp;<br />
      Areal i kvadratmeter: 530&nbsp;<br />
      Aflukket: Ja&nbsp;<br />
      Bænke: Ja<br />
      Bord/bænkesæt: Ja<br />
      Skygge: Ja<br />
      Toilet: Nej<br />
      Bemandet: Nej
    </p>

    <p>
      <strong>Tilgængelighed</strong> &nbsp;&nbsp;<br />
      Kategori 3: Kørestolsbrugere kan ikke komme i kontakt med legeområdet/legeredskaberne.&nbsp;
    </p>
  </div>
</div>
